<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>공지사항게시판</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href= "@{../assets/css/productmain.css}" />
</head>

<body>
    
	<!-- Header -->
	<header role="pdHeader" data-include="../thymeleaf/pdheader" id="pdHeader">
		<a href="#Productnav" class="pdtoggle"><span>메뉴</span></a>
	</header>
	<!-- Nav -->
	<nav id="Productnav" data-include="../Productnav.html"></nav>
	
	<!-- Table -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<h2 class="align-center">공지사항게시판</h2>
					
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>공지번호</th>
									<th>제목</th>
									<th>작성자</th>
									<th>작성일</th>
									<th>조회수</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1357</td>
									<td><a href = "noticeView.html">손거울 재고가 없나요?</a></td>
									<td>계란후라이</td>
									<td>2020-09-02</td>
									<td>12</td>
									
								</tr>
								<tr>
									<td>1357</td>
									<td><a href = "#">전통문양노트 다른 디자인은 없나요?</a></td>
									<td>공주</td>
									<td>2020-09-02</td>
									<td>25</td>
								</tr>
							</tbody>
							<tfoot>
								<tr align="center">
									<td colspan="5"><a>1</a></td>
								</tr>
								<tr align="center">
									<td colspan="5"><a href="Support.html" class="button alt">목록으로</a>
									<a href="noticeWrtie.html" class="button alt">글작성하기</a></td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Footer -->
	<footer id="footer" class="wrapper" data-include="../footer.html"></footer>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/product.js"></script>
</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script>
	$(function() {
		includeLayout();
	});

	function includeLayout() {
		var includeArea = $('[data-include]');
		var self, url;
		$.each(includeArea, function() {
			self = $(this);
			url = self.data("include");
			self.load(url, function() {
				self.removeAttr("data-include");
			});
		});
	}
</script>

</html>