<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>공지사항게시판 상세보기</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../assets/css/productmain.css" />
<style type="text/css">
td {
	background-color: white;
}
#bg {
	background-color: #F2F2F2;
}
</style>
</head>
<body>
<!-- Header -->
	<header role="pdHeader" data-include="../pdheader.html" id="pdHeader">
		<a href="#Productnav" class="pdtoggle"><span>메뉴</span></a>
	</header>
	<!-- Nav -->
	<nav id="Productnav" data-include="../Productnav.html"></nav>
	
<!-- Registration Form -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
						<h2 class="align-center">공지사항게시판 상세보기</h2>
						
						<div class="table-wrapper">
						<table cellpadding="0" cellspacing="0">
						<tr>
								<td>
									<div align="center">공지번호</div>
								</td>
								<td>146574</td>
							</tr>
							
							<tr>
								<td>
									<div align="center">작성자</div>
								</td>
								<td>146574</td>
							</tr>
							
							<tr>
								<td>
									<div align="center">작성일</div>
								</td>
								<td>2020-09-21</td>
							</tr>
							
							<tr>
								<td>
									<div align="center">제 목</div>
								</td>
								<td>아무리생각해도 쩐주당이 넘모 먹고싶은걸</td>
							</tr>

							<tr>
								<td>
									<div align="center">내 용</div>
								</td>
								<td>한국전통공예품 오예 가지고싶어요 ㅠㅠㅠㅠ 넘모 넘모 가지고 싶어요 재고가 왜 없나요 <br/>
								    여러분들 여기 사이트 나전칠기 사용해보셨어요 대박임 ㅋㅋ
								</td>
							</tr>


							<tr align="center" >
									<td colspan="2">
			<a href="noticeModify.html"><input type = "button" value="수정" id = "ntmodify" /></a>
			<a href="noticeDelete.html"><input type = "button" value="삭제" id = "ntdel" /></a>
			<a href="noticeList.html"><input type = "button" value="목록" id = "nthome" /></a>
		                   </td>
								</tr>
						</table>
						</div>
				</div>
			</div>
		</div>
	</section>
	
	
<!-- Footer -->
	<footer id="footer" class="wrapper" data-include="../footer.html"></footer>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/product.js"></script>
</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script>
	$(function() {
		includeLayout();
	});

	function includeLayout() {
		var includeArea = $('[data-include]');
		var self, url;
		$.each(includeArea, function() {
			self = $(this);
			url = self.data("include");
			self.load(url, function() {
				self.removeAttr("data-include");
			});
		});
	}
</script>

</html>