<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../assets/css/program.css" />
<title>강사리스트</title>
</head>
<body>
	<!-- Header -->
	<header role="pgHeader" data-include="../pgheader.html" id="pgHeader">
		<a href="#Programnav" class="pgtoggle"><span>메뉴</span></a>
	</header>
	<!-- Nav -->
	<nav id="Programnav" data-include="../Programnav.html"></nav>

	<!-- Table -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<h2 class="align-center">강사리스트</h2>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>강사번호</th>
									<th>분야</th>
									<th>강사ID</th>
									<th>주소</th>
								</tr>
							</thead>
							
							<tbody>
								<tr>
									<td>543234</td>
									<td>전통공예품체험</td>
									<td><a href = "teacherDetail.html">최윤선</a></td>
									<td>용인</td>

								</tr>
								<tr>
									<td>8673</td>
									<td>투어체험</td>
									<td><a href = "#">연다인</a></td>
									<td>전라북도</td>
								</tr>
							</tbody>
							
							<tfoot>
								<tr align="center">
									<td colspan="4"><a>1</a></td>
								</tr>
								<tr align="right">
										<td colspan="4">
									<a href="../pgMypage.html"><input type = "button" value="목록"/></a>
									<a href="teacherForm.html"><input type = "button" value="강사등록"/></a>
									<a href="#"><input type = "button" value="수정"/></a></td>
									</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer" class="wrapper" data-include="../footer.html"></footer>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/program.js"></script>
</body>
<script>
	$(function() {
		includeLayout();
	});

	function includeLayout() {
		var includeArea = $('[data-include]');
		var self, url;
		$.each(includeArea, function() {
			self = $(this);
			url = self.data("include");
			self.load(url, function() {
				self.removeAttr("data-include");
			});
		});
	}
</script>
</html>