<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../assets/css/program.css" />
<script
	src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
	function sample4_execDaumPostcode() {
		new daum.Postcode(
				{
					oncomplete : function(data) {
						// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

						// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
						// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
						var roadAddr = data.roadAddress; // 도로명 주소 변수
						var extraRoadAddr = ''; // 참고 항목 변수

						// 법정동명이 있을 경우 추가한다. (법정리는 제외)
						// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
						if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
							extraRoadAddr += data.bname;
						}
						// 건물명이 있고, 공동주택일 경우 추가한다.
						if (data.buildingName !== '' && data.apartment === 'Y') {
							extraRoadAddr += (extraRoadAddr !== '' ? ', '
									+ data.buildingName : data.buildingName);
						}
						// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
						if (extraRoadAddr !== '') {
							extraRoadAddr = ' (' + extraRoadAddr + ')';
						}

						// 우편번호와 주소 정보를 해당 필드에 넣는다.
						document.getElementById('postcode').value = data.zonecode;
						document.getElementById("roadAddress").value = roadAddr;
						document.getElementById("jibunAddress").value = data.jibunAddress;

						// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
						if (roadAddr !== '') {
							document.getElementById("extraAddress").value = extraRoadAddr;
						} else {
							document.getElementById("extraAddress").value = '';
						}

						var guideTextBox = document.getElementById("guide");
						// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
						if (data.autoRoadAddress) {
							var expRoadAddr = data.autoRoadAddress
									+ extraRoadAddr;
							guideTextBox.innerHTML = '(예상 도로명 주소 : '
									+ expRoadAddr + ')';
							guideTextBox.style.display = 'block';

						} else if (data.autoJibunAddress) {
							var expJibunAddr = data.autoJibunAddress;
							guideTextBox.innerHTML = '(예상 지번 주소 : '
									+ expJibunAddr + ')';
							guideTextBox.style.display = 'block';
						} else {
							guideTextBox.innerHTML = '';
							guideTextBox.style.display = 'none';
						}
					}
				}).open();
	}
</script>
<title>강사등록</title>
<style type="text/css">
td {
	background-color: white;
}
</style>
</head>
<body>
	<!-- Header -->
	<header role="pgHeader" data-include="../pgheader.html" id="pgHeader">
		<a href="#Programnav" class="pgtoggle"><span>메뉴</span></a>
	</header>
	<!-- Nav -->
	<nav id="Programnav" data-include="../Programnav.html"></nav>

	<!-- Registration Form -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<form action="#" method="post" name="teacherform">
						<h2 class="align-center">강사등록</h2>
						<div class="table-wrapper">
							<table cellpadding="0" cellspacing="0">

								<tr>
									<td>
										<div align="center">강사번호</div>
									</td>


									<td><input name="teacher_no" type="text" size="10"
										maxlength="10" /></td>
								</tr>

								<tr>
									<td>
										<div align="center">강사ID</div>
									</td>
									<td><input name="teacher_id" type="text" maxlength="10" /></td>
								</tr>


								<tr>
									<td>
										<div align="center">분야</div>
									</td>
									<td><input name="teacher_type" type="text" maxlength="20" /></td>
								</tr>

								<tr>
									<td>
										<div align="center">주민등록번호</div>
									</td>
									<td><input name="resident_reg" type="text" maxlength="15" /></td>
								</tr>

								<tr>
									<td>
										<div align="center">주소</div>
									</td>
									<td>
									<div class="field" style="margin-bottom: 1mm">
						<ul class="actions align-left" style="margin-bottom: 1mm">
							<li><input type="text" id="teacher_addr" placeholder="우편번호"
								maxlength="20"></li>
							<li><input type="button" class="button"
								onclick="sample4_execDaumPostcode()" value="우편번호 찾기"></li>
						</ul>
					</div>
					<div class="field half" style="margin-bottom: 1mm">
						<input type="text" id="teacher_addr" placeholder="도로명주소">
					</div>
					<div class="field half" style="margin-bottom: 1mm">
						<input type="text" id="teacher_addr" placeholder="지번주소">
					</div>
						<input type="text" id="teacher_addr" placeholder="상세주소">
					</td>
								</tr>

								<tr align="right">
									<td colspan="2"><a href="teacherList.html"><input
											type="button" value="목록" /></a>
											 <input value="등록" class="button"
										type="submit"></td>
								</tr>

							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer" class="wrapper" data-include="../footer.html"></footer>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/program.js"></script>
</body>
<script>
	$(function() {
		includeLayout();
	});

	function includeLayout() {
		var includeArea = $('[data-include]');
		var self, url;
		$.each(includeArea, function() {
			self = $(this);
			url = self.data("include");
			self.load(url, function() {
				self.removeAttr("data-include");
			});
		});
	}
</script>
</html>