<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../assets/css/program.css" />
<title>강사고용등록</title>
<style type="text/css">
td {
	background-color: white;
}
</style>
</head>
<body>
	<!-- Header -->
	<header role="pgHeader" data-include="../pgheader.html" id="pgHeader">
		<a href="#Programnav" class="pgtoggle"><span>메뉴</span></a>
	</header>
	<!-- Nav -->
	<nav id="Programnav" data-include="../Programnav.html"></nav>

	<!-- Registration Form -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<form action="#" method="post" name="tcontractform"
						enctype="multipart/form-data">
						<h2 class="align-center">강사고용등록</h2>
						<p>▶내용을 입력하신 다음 "등록하기" 버튼을 눌러주세요</p>
						<div class="table-wrapper">
							<table cellpadding="0" cellspacing="0">

								<tr>
									<td>
										<div align="center">강사계약번호</div>
									</td>


									<td><input name="tcontract_no" type="text" size="10"
										maxlength="10" /></td>
								</tr>

								<tr>
									<td>
										<div align="center">계약기간</div>
									</td>
									<td><input name="tcontract_team" type="text"
										maxlength="10" /></td>
								</tr>


								<tr>
									<td>
										<div align="center">고용형태</div>
									</td>
									<td><input name="tcontract_type" type="text"
										maxlength="20" /></td>
								</tr>

								<tr>
									<td>
										<div align="center">급여</div>
									</td>
									<td><input name="teacher_sal" type="text" maxlength="20" /></td>
								</tr>

								<tr>
									<td>
										<div align="center">은행계좌</div>
									</td>
									<td><input name="teacher_account" type="text"
										maxlength="20" /></td>
								</tr>
								<tr>
									<td><div align="center">안전훈련이수여부</div></td>
									<td>
										<div class="4u 12u$(small)">
											<input type="radio" id="demo-priority-low" name="check_safe"
												checked> <label for="demo-priority-low">Yes</label>
											<input type="radio" id="demo-priority-normal"
												name="check_safe"> <label for="demo-priority-normal">No</label>
										</div>
									</td>
								</tr>

								<tr>
									<td>
										<div align="center">통장사본</div>
									</td>
									<td><input type="file" name="tcopy_bankbook" /></td>
								</tr>

								<tr>
									<td>
										<div align="center">신분증사본</div>
									</td>
									<td><input type="file" name="tidentiti_card" /></td>
								</tr>

								<tr>
									<td>
										<div align="center">직원번호</div>
									</td>
									<td><input name="employee_no" type="text" maxlength="20" /></td>
								</tr>

								<tr>
									<td>
										<div align="center">강사번호</div>
									</td>
									<td><input name="teacher_no" type="text" maxlength="20" /></td>
								</tr>

								<tr align="right">
									<td colspan="5"><a href="tcontractList.html"><input
											type="button" value="목록" /></a> <input value="등록" class="button"
										type="submit"></td>
								</tr>

							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer" class="wrapper" data-include="../footer.html"></footer>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/program.js"></script>
</body>
<script>
	$(function() {
		includeLayout();
	});

	function includeLayout() {
		var includeArea = $('[data-include]');
		var self, url;
		$.each(includeArea, function() {
			self = $(this);
			url = self.data("include");
			self.load(url, function() {
				self.removeAttr("data-include");
			});
		});
	}
</script>
</html>