<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>상품목록</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/static/assets/css/productmain.css}" />
<style type="text/css">
table {
font-size : 15px;
}
</style>
</head>

<body>
       <!-- Header -->
	    <header id="pdHeader">
	    </header>

		<!-- Table -->
		<section id="one" class="wrapper style2">
			<div class="inner">
				<div class="box">
					<div class="content">
						<h2 class="align-center">상품목록</h2>

						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>상품분류</th>
										<th>상품번호</th>
										<th>상품명</th>
										<th>상품가격</th>
										<th>상품등록일</th>
										<th>조회수</th>
									</tr>
								</thead>
								<tbody>
									 <th:block th:each = "g:${glists}">
									 <tr>
									 <td>[[${g.goodsType}]]</td>
									 <td><a th:href = "@{/goods/goodsDetail(goodsNo = ${g.goodsNo})}">[[${g.goodsNo}]]</a></td>
									 <td>[[${g.goodsName}]]</td>
									 <td>[[${g.goodsPrice}]]</td>
									 <td th:text = "${#dates.format(g.goodsReg,'yyyy-MM-dd')}" >
									 <td>[[${g.goodsCount}]]</td>
									 </tr>
									 </th:block>
								</tbody>
								<tfoot>
									<tr align="center">
										<td colspan="6"><a>1</a></td>
									</tr>
									<tr align="right">
										<td colspan="6">
										<a th:href = "@{/pdAdmin}" ><input type = "button" value="목록"/></a>
									<a th:href="@{goodsForm}"><input type = "button" value="상품등록"/></a>
									</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>
		<!-- Scripts -->
		<script th:src=@{assets/js/jquery.min.js}></script>
		<script th:src=@{assets/js/jquery.scrolly.min.js}></script>
		<script th:src=@{assets/js/jquery.scrollex.min.js}></script>
		<script th:src=@{assets/js/skel.min.js}></script>
		<script th:src=@{assets/js/util.js}></script>
		<script th:src=@{assets/js/product.js}></script>
</body>
 
</html>