<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>객실 </title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="assets/css/hmain.css" />
</head>
<body>
	<!-- Header -->
		<header role="header" data-include="hheader.html" id="hheader">
			    <a href="#hmenu" class="htoggle"><span>메뉴</span></a>
		</header>

        <!-- Nav -->
        <nav id="hmenu" data-include="hnav.html"></nav>
	
	
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
				<h2 class="align-center">객실 미리보기 </h2>
					<form action="deleteForm" method="post" name="noticeform"
						enctype="multipart/form-data"></form>
					<div class="table-wrapper">
	
				<div>
					<div class="box">
						
						<div class="content">
							<header class="align-center">
								<h2>금송 </h2>
							
							<hr />
							<p>객실안내 : 거실1, 툇마루1, 방1, 화장실1 <br/>
							객실평수 : 27평<br/>
							이용인원 : 기준 6명 / 최대 10명<br/>
							객실비품 : TV, 에어컨, 냉장고, 드라이기, 취사도구,<br/>
							밥솥, 전자레인지, 침구류, 식기류<br/>
							입실안내 : 입실시간 : 오후 03:00 / 퇴실시간 : 오전 11:00<br/>
							추가인원 : 기준인원 초과시 1인당 2만원추가<br/></p>
							<div class="align-center">
								<a href="room/roomSlide1.html" class="button alt">자세히 보기 </a>
							</div>
							</header>
						</div>
					</div>
	
					<div class="box">
						
						<div class="content">
							<header class="align-center">
								<h2>거송 </h2>
							
							<hr />
							<p>객실안내 : 거실1, 툇마루1, 방2, 화장실2<br/>
							객실평수 : 20평<br/>
							이용인원 : 기준 6명 / 최대 10명	<br/>
							객실비품 : TV, 에어컨, 냉장고, 드라이기, 취사도구,<br/>
							밥솥, 전자레인지, 침구류, 식기류<br/>
							입실안내 : 입실시간 : 오후 03:00 / 퇴실시간 : 오전 11:00<br/>
							추가인원 : 기준인원 초과시 1인당 2만원추가<br/></p>
							<div class="align-center">
								<a href="room/roomSlide2.html" class="button alt">자세히 보기</a>
							</div>
							</header>
						</div>
						</div>
						</div>
						
							<div>
					<div class="box">
						<div class="content">
							<header class="align-center">
								<h2>해송A</h2>
							
							<hr />
							<p>객실안내 : 원룸형, 거실1, 툇마루, 화장실1<br />
							객실평수 : 10평<br />
							이용인원 : 기준 4명 / 최대 6명<br />
							객실비품 : TV, 에어컨, 냉장고, 드라이기, 취사도구,<br />
							밥솥, 전자레인지, 침구류, 식기류 <br />
							입실안내 : 입실시간 : 오후 03:00 / 퇴실시간 : 오전 11:00<br />
							추가인원 : 기준인원 초과시 1인당 2만원추가<br /></p>
							<div class="align-center">
								<a href="room/roomSlide3.html" class="button alt">자세히 보기</a>
							</div>
							</header>
						</div>
						</div>
						</div>
						
						
						<div>
					<div class="box">
						
						<div class="content">
							<header class="align-center">
								<h2>해송B</h2>
							
							<hr />
							<p>객실안내 : 원룸형, 거실1, 툇마루, 화장실1<br />
							객실평수 : 10평<br />
							이용인원 : 기준 4명 / 최대 6명<br />
							객실비품 : TV, 에어컨, 냉장고, 드라이기, 취사도구,<br />
							밥솥, 전자레인지, 침구류, 식기류<br />
							입실안내 : 입실시간 : 오후 03:00 / 퇴실시간 : 오전 11:00<br />
							추가인원 : 기준인원 초과시 1인당 2만원추가<br />
							</p>
							<div class="align-center">
								<a href="room/roomSlide4.html" class="button alt">자세히 보기</a>
							</div>
							</header>
						</div>
						</div>
						</div>
						
						<div>
					<div class="box">
						
						<div class="content">
							<header class="align-center">
								<h2>외송 </h2>
							
							<hr />
							<p>객실안내 : 거실1, 방1, 화장실1<br />
							객실평수 : 11평<br />
							이용인원 : 기준 4명 / 최대 6명<br />
							객실비품 : TV, 에어컨, 냉장고, 드라이기, 취사도구,<br />
							밥솥, 전자레인지, 침구류, 식기류<br />
							입실안내 : 입실시간 : 오후 03:00 / 퇴실시간 : 오전 11:00<br />
							추가인원 : 기준인원 초과시 1인당 2만원추가<br />
							</p>
							<div class="align-center">
								<a href="room/roomSlide5.html" class="button alt">자세히 보기</a>
							</div>
							</header>
						</div>
						</div>
						</div>
						
						<div>
					<div class="box">
						
						<div class="content">
							<header class="align-center">
								<h2>창송A</h2>
							
							<hr />
							<p>객실안내 : 거실1, 방1, 화장실1<br />
							객실평수 : 13평<br />
							이용인원 : 기준 4명 / 최대 6명<br />
							객실비품 : TV, 에어컨, 냉장고, 드라이기, 취사도구,<br />
							밥솥, 전자레인지, 침구류, 식기류<br />
							입실안내 : 입실시간 : 오후 03:00 / 퇴실시간 : 오전 11:00<br />
							추가인원 : 기준인원 초과시 1인당 2만원추가<br />
							</p>
							<div class="align-center">
								<a href="room/roomSlide6.html" class="button alt">자세히 보기</a>
							</div>
							</header>
						</div>
						</div>
						</div>
						
						<div>
					<div class="box">
						
						<div class="content">
							<header class="align-center">
								<h2>창송B</h2>
							
							<hr />
							<p>객실안내 : 거실1, 방1, 화장실1<br />
							객실평수 : 13평<br />
							이용인원 : 기준 4명 / 최대 6명<br />
							객실비품 : TV, 에어컨, 냉장고, 드라이기, 취사도구,<br />
							밥솥, 전자레인지, 침구류, 식기류<br />
							입실안내 : 입실시간 : 오후 03:00 / 퇴실시간 : 오전 11:00<br />
							추가인원 : 기준인원 초과시 1인당 2만원추가<br />
							</p>
							<div class="align-center">
								<a href="room/roomSlide7.html" class="button alt">자세히 보기</a>
							</div>
							</header>
						</div>
						</div>
						</div>
						
					
	
					
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	
	

<!-- Footer -->
	<footer id="footer" class="wrapper" data-include="footer.html"></footer>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/house.js"></script>
</body>
<script>
	$(function() {
		includeLayout();
	});

	function includeLayout() {
		var includeArea = $('[data-include]');
		var self, url;
		$.each(includeArea, function() {
			self = $(this);
			url = self.data("include");
			self.load(url, function() {
				self.removeAttr("data-include");
			});
		});
	}
</script>
</html>
	