<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>배송조회</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/static/assets/css/productmain.css}" />
<style type="text/css">
#delivery {
font-size : 14px;
}
</style>
</head> 
<body>
		<!-- Header -->
	<header id="pdHeader">
	</header>
 
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<h2 class="align-center">배송조회</h2>
					<p>
						<font size = "2">▶위시에 담긴 상품은 바로 장바구니에 담으실 수 있으며 폴더로 구분하여 관리하실 수 있습니다.<br /> 
						▶관심품목에 담은 시점과 구매시점에서 상품가격 및 이벤트가 변경될 수 있으며 조기품절 될 수 있습니다.
					</font>
					</p>
					<div class="table-wrapper">
						<table id = "delivery">
							<thead>
								<tr>
									<td>배송번호</td>
									<td>배송접수일</td>
									<td>배송주소</td>
									<td>수취인</td>
								</tr>
							</thead>
							<tbody>
							<th:block th:each = "dv:${dvlists}">
							<tr>
							<td><a th:href = "@{/userorder/deliveryDetail(deliveryNo = ${dv.deliveryNo})}">[[${dv.deliveryNo}]]</a></td>
							<td th:text = "${#dates.format(dv.deliveryDate,'yyyy-MM-dd')}" ></td>
							<td>[[${dv.deliveryAddr}]]</td>
							<td>[[${dv.receiverName}]]</td>
							</tr>
							
							</th:block>
							 
							</tbody>
							<tfoot>
								<tr align = "center">
									<td colspan="4"><a>1</a></td>
								</tr>
							</tfoot>
						</table>
						<img alt="" th:src="@{/static/images/product/delivery1.png}" width="650" height="170">
					</div>

				</div>
			</div>
		</div>
	</section>

		<!-- Footer -->
		<footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>
		<!-- Scripts -->
		<script th:src=@{assets/js/jquery.min.js}></script>
		<script th:src=@{assets/js/jquery.scrolly.min.js}></script>
		<script th:src=@{assets/js/jquery.scrollex.min.js}></script>
		<script th:src=@{assets/js/skel.min.js}></script>
		<script th:src=@{assets/js/util.js}></script>
		<script th:src=@{assets/js/product.js}></script>
</body>
 
</html>