<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/static/assets/css/productmain.css}" />
<title>주문서</title>
<style type="text/css">
td {
	background-color: white;
}

#orid {
	background-color: #F2F2F2;
}
</style>
</head>
<body class="subpage">
	<!-- Header -->
	<header role="pdHeader" th:include="thymeleaf/pdheader" id="pdHeader">
		<a href="#Productnav" class="pdtoggle"><span>메뉴</span></a>
	</header>
	<!-- Nav -->
	<nav id="Productnav" th:include="thymeleaf/Productnav"></nav>

	<!-- Table -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<img alt="" th:src="@{/static/images/product/order3.png}" width="1080" height="200">
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>고객ID</th>
									<th>상품번호</th>
									<th>상품명</th>
									<th>상품가격</th>
									<th>상품이미지</th>
								</tr>
							</thead>
							<tbody>
							<div th:each = "g:${glists}">
							 <tr>
							 <td></td>
							 <th>[[${g.goodsNo}]]</th>
							 <th>[[${g.goodsName}]]</th>
							 <th>[[${g.goodsPrice}]]</th>
							 <td><img th:src="@{'/static/goods/upload/' + ${g.goodsImage}}" height = "100" width = "80"/></td>
							 </tr>
							</div>
							</tbody>
						</table>
						
						<table>
							<tr>
								<td align="center" colspan="5"><font color="gray" size="5">총
										결제금액 : </font> <font color="black" size="5">원</font></td>
								<td align="right">적립 마일리지 5point</td>
							</tr>


						</table>
					</div>
					<br />
					<!----------------------------------------------------------->
					<h2 class="align-center">주문고객 정보</h2>
					<!-- Registration Form -->
					<div class="table-wrapper">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td id="orid">
									<div align="center">아이디</div>
								</td>
								<td id="orid">치킨공주</td>
							</tr>

							<tr>
								<td>
									<div align="center">주소</div>
								</td>
								<td>서울시 성북구 273-13</td>
							</tr>


							<tr>
								<td>
									<div align="center">이메일</div>
								</td>
								<td>cksek27@daum.net</td>
							</tr>

							<tr>
								<td>
									<div align="center">연락처</div>
								</td>
								<td>010-2258-5353</td>
							</tr>
						</table>
					</div>
					<!----------------------------------------------------------->
					<br />
					<h2 class="align-center">배송지정보</h2>
					<hr />
					<!-- Registration Form -->
					<div class="table-wrapper">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td id="orid">
									<div align="center">배송번호</div>
								</td>
								<td id="orid">[[${dvdto.deliveryNo}]]</td>
							</tr>
							
							<tr>
								<td>
									<div align="center">배송접수일</div>
								</td>
							 <td th:text = "${#dates.format(dvdto.deliveryDate,'yyyy-MM-dd')}" ></td> 
							</tr>


							<tr>
								<td>
									<div align="center">배송주소</div>
								</td>
								<td>[[${dvdto.deliveryAddr}]]</td>
							</tr>

							<tr>
								<td>
									<div align="center">수취인</div>
								</td>
								<td>[[${dvdto.receiverName}]]</td>
							</tr>

							<tr>
								<td>
									<div align="center">배송요청사항</div>
								</td>
								<td>[[${dvdto.deliveryNote}]]</td>
							</tr>
						</table>
					</div>

					<!----------------------------------------------------------->
					<h2 class="align-center">결제금액 확인</h2>
					<hr />
					<!-- Registration Form -->
					<div class="table-wrapper">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td id="orid">
									<div align="center">총 상품 금액</div>
								</td>
								<td id="orid">456,430원</td>
							</tr>

							<tr>
								<td>
									<div align="center">배송비</div>
								</td>
								<td>2500원</td>
							</tr>


							<tr>
								<td>
									<div align="center">적립포인트</div>
								</td>
								<td><font color="red">5point</font></td>
							</tr>

							<tr>
								<td>
									<div align="center">총 결제 금액</div>
								</td>
								<td><font color="red">2500</font> + <font color="red">456,430</font>
									=<font color="red"> 458,930원</font></td>
							</tr>
						</table>
					</div>
					<br />
					<!----------------------------------------------------------->
					<h2 class="align-center">결제 계좌</h2>
					<hr />
					<!-- Registration Form -->
					<div class="table-wrapper">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td id="orid">
									<div align="center">입금계좌</div>
								</td>
								<td id="orid">신한은행 110-234-634930</td>
							</tr>

							<tr>
								<td>
									<div align="center">입금자명</div>
								</td>
								<td>sovenior shop</td>
							</tr>


							<tr>
								<td>
									<div align="center">입금할 금액</div>
								</td>
								<td><font color="red">458,930원</font></td>
							</tr>
						</table>
					</div>
					<div class="table-wrapper">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td colspan="5" bgcolor="white" align="center"><a href="orderForm.html"
									class="button alt">이전</a> <a href="oderOk.html"
									class="button alt">다음</a></td>
							</tr>
						</table>
					</div>

				</div>
			</div>
		</div>
	</section>

<!-- Footer -->
	<footer id="footer" class="wrapper" data-include="thymeleaf/footer"></footer>
	<!-- Scripts -->
	<script th:src=@{assets/js/jquery.min.js}></script>
	<script th:src=@{assets/js/jquery.scrolly.min.js}></script>
	<script th:src=@{assets/js/jquery.scrollex.min.js}></script>
	<script th:src=@{assets/js/skel.min.js}></script>
	<script th:src=@{assets/js/util.js}></script>
	<script th:src=@{assets/js/product.js}></script>
</body>

</html>