<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>1:1문의 답변</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/static/assets/css/productmain.css}" />
<style type="text/css">
td{background-color : white;}
</style>
</head>

<body>
	<!-- Header -->
	<header role="pdHeader" th:include="thymeleaf/pdheader" id="pdHeader">
		<a href="#Productnav" class="pdtoggle"><span>메뉴</span></a>
	</header>
	<!-- Nav -->
	<nav id="Productnav" th:include="thymeleaf/Productnav"></nav>

	<!-- Registration Form -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<form action="#" method="post" name="onereform">
						<h2 class="align-center">1:1문의 신청 답변</h2>
						<p>
							▶문의하실 분야를 선택하신 후 내용을 입력하신 다음 "신청하기 " 버튼을 눌러주세요.<br /> ▶한번 등록한
							상담내용은 수정이 불가능합니다. 수정을 원하시는 경우, 삭제 후 재등록 하셔야 합니다.
						</p>
						<div class="table-wrapper">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<div align="center">작성자</div>
								</td>
								<td><input name="employeeNo" type="text" maxlength="40" /></td>
							</tr>
							
							<tr>
								<td>
									<div align="center">답변변호</div>
								</td>
								<td><input name="greplyNo" type="text" maxlength="20" /></td>
							</tr>
							
							<tr>
								<td>
									<div align="center">게시판 번호</div>
								</td>
								<td><input name="glibNo" type="text" maxlength="20" /></td>
							</tr>
							
							<tr>
								<td>
									<div align="center">고객ID</div>
								</td>
								<td><input name="userId" type="text" maxlength="20" /></td>
							</tr>

							<tr>
								<td>
									<div align="center">답변내용</div>
								</td>
								<td><textarea name="greplyContent" cols="50" rows="10"></textarea>
								</td>
							</tr>

							<tr align="right" >
									<td colspan="2"><a href="pdone_to_one_detail.html" class="button alt">목록으로</a>
									<input type = "submit" value  = "등록" /></td>
								</tr>
						</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Footer -->
	<footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>
	<!-- Scripts -->
	<script th:src=@{assets/js/jquery.min.js}></script>
	<script th:src=@{assets/js/jquery.scrolly.min.js}></script>
	<script th:src=@{assets/js/jquery.scrollex.min.js}></script>
	<script th:src=@{assets/js/skel.min.js}></script>
	<script th:src=@{assets/js/util.js}></script>
	<script th:src=@{assets/js/product.js}></script>
</body>

</html>