<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>입고관리</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/static/assets/css/productmain.css}" />
</head>

<body>
	    <!-- Header -->
	    <header id="pdHeader">
	    </header>

	<!-- Table -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<h2 class="align-center">입고 대장</h2>

					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>지점번호</th>
									<th>상품번호</th>
									<th>입고번호</th>
									<th>입고수량</th>
									<th>검수여부</th>
									<th>입고일</th>
								</tr>
							</thead>
							<tbody>
							<div th:each = "i:${iplists}">
							<tr>
							<td>[[${i.shopNo}]]</td>
							<td>[[${i.goodsNo}]]</td>
							<td><a th:href = "@{/ipgo/ipgoView(ipgoNo = ${i.ipgoNo})}">[[${i.ipgoNo}]]</a></td>
							<td>[[${i.ipgoQty}]]</td>
							<td>[[${i.checkOk}]]</td>
							<td>[[${i.ipgoDate}]]</td>
							</tr>
							</div>
								 
							</tbody>
							<tfoot>
								<tr align="center">
									<td colspan="6"><a>1</a></td>
								</tr>
								<tr align="right">
									<td colspan="6"><a th:href="@{/pdAdmin}" class="button alt">목록으로</a>
									<a th:href="@{ipgoForm}" class="button alt">입고등록</a></td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>
	<!-- Scripts -->
	<script th:src=@{assets/js/jquery.min.js}></script>
	<script th:src=@{assets/js/jquery.scrolly.min.js}></script>
	<script th:src=@{assets/js/jquery.scrollex.min.js}></script>
	<script th:src=@{assets/js/skel.min.js}></script>
	<script th:src=@{assets/js/util.js}></script>
	<script th:src=@{assets/js/product.js}></script>
</body>

</html>