<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>프로그램 정보 삭제</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../assets/css/program.css" />
</head>
<body>
	<!-- Header -->
		<header role="pdHeader" data-include="pdheader.html" id="pdHeader">
		<a href="#Productnav" class="pdtoggle"><span>메뉴</span></a>
	</header>
	<!-- Nav -->
	<nav id="Productnav" data-include="Productnav.html"></nav>
	

	<!-- Registration Form -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
				<h2 class="align-center">프로그램 정보 삭제</h2>
					<form action="deleteForm" method="post" name="noticeform"
						enctype="multipart/form-data"></form>
					<div class="table-wrapper">
					<p>정말로 삭제 하시겠습니까?</p>
					<table cellpadding="0" cellspacing="0">
						
						<tr>
							<td colspan=2 align=center>
							<a href="notice_board.html" class="button">목록으로</a>
								<input value="삭제하기 " class="button" type="submit"></td>
						</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	




	<!-- Footer -->
	<footer id="footer" class="wrapper" data-include="../footer.html"></footer>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/program.js"></script>
</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script>
	$(function() {
		includeLayout();
	});

	function includeLayout() {
		var includeArea = $('[data-include]');
		var self, url;
		$.each(includeArea, function() {
			self = $(this);
			url = self.data("include");
			self.load(url, function() {
				self.removeAttr("data-include");
			});
		});
	}
</script>

</html>