<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>협력업체 상세보기</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/static/assets/css/productmain.css}" />
<style type="text/css">
td{background-color : white;}
</style>
</head>
<body>
	 <!-- Header -->
	    <header id="pdHeader">
	    </header>

<!-- Registration Form -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
						<h2 class="align-center">협력업체 상세보기</h2>
						
						<div class="table-wrapper">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<div align="center">사업자번호</div>
								</td>
								<td>[[${pdto.gcompanyNo}]]</td>
							</tr>
							
							<tr>
								<td>
									<div align="center">사업자ID</div>
								</td>
								<td>[[${pdto.gcompanyId}]]</td>
							</tr>
							
							<tr>
								<td>
									<div align="center">사업체명</div>
								</td>
								<td>[[${pdto.gcompanyName}]]</td>
							</tr>
							
							<tr>
								<td>
									<div align="center">담당자명</div>
								</td>
								<td>[[${pdto.partnerName}]]</td>
							</tr>
							
								
							<tr>
								<td>
									<div align="center">사업체주소</div>
								</td>
								<td>[[${pdto.gcompanyAddr}]]</td>
							</tr>
							
							<tr>
								<td>
									<div align="center">사업체이메일</div>
								</td>
								<td>[[${pdto.gcompanyEmail}]]</td>
							</tr>
							

							<tr>
								<td>
									<div align="center">사업체전화번호</div>
								</td>
								<td>[[${pdto.gcompanyPh}]]</td>
							</tr>

							<tr align="center">
									<td colspan="2">
			<a th:href="@{/partners/partnersModify(gcompanyNo = ${pdto.gcompanyNo})}"><input type = "button" value="수정" id = "del" /></a>
			<a th:href="@{/partners/partnerDelete(gcompanyNo = ${pdto.gcompanyNo})}"><input type = "button" value="삭제" id = "del" /></a>
			<a th:href="@{partnersList}"><input type = "button" value="목록" id = "home" /></a>
		                   </td>
								</tr>
						</table>
						</div>
				</div>
			</div>
		</div>
	</section>
	
	
<!-- Footer -->
		<footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>
		<!-- Scripts -->
		<script th:src=@{assets/js/jquery.min.js}></script>
		<script th:src=@{assets/js/jquery.scrolly.min.js}></script>
		<script th:src=@{assets/js/jquery.scrollex.min.js}></script>
		<script th:src=@{assets/js/skel.min.js}></script>
		<script th:src=@{assets/js/util.js}></script>
		<script th:src=@{assets/js/product.js}></script>
</body>
 
</html>