<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>적립금</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="assets/css/productmain.css" />
</head>

<body>

	<!-- Header -->
	<header role="pdHeader" data-include="pdheader.html" id="pdHeader">
		<a href="#Productnav" class="pdtoggle"><span>메뉴</span></a>
	</header>
	<!-- Nav -->
	<nav id="Productnav" data-include="Productnav.html"></nav>

	<form action="#" method="post" enctype="multipart/form-data">

		<!-- Table -->
		<section id="one" class="wrapper style2">
			<div class="inner">
				<div class="box">
					<div class="content">
						<h2 class="align-center">적립금 현황</h2>
						<p>
							▶마일리지는 부여된 해로부터 5년 이내에 사용하셔야 합니다.<br /> 
							▶1000점 이상시 현금처럼 사용하실 수 있으며 마일리지샵의 상품을 구매하실 수 있습니다.<br /> 
							▶구매마일리지는 상품출고 후 적립됩니다.<br /> 
						</p>
						<hr/>
						
						<P><h1 class="align-left">나의 적립금 현황</h1><br/>
						구매 마일리지 : <font color = "red">500p</font></P>
					</div>
				</div>
			</div>
		</section>
		
		
		
		


		<!-- Footer -->
		<footer id="footer" class="wrapper" data-include="footer.html"></footer>
		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/product.js"></script>
	</form>
</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script>
	$(function() {
		includeLayout();
	});

	function includeLayout() {
		var includeArea = $('[data-include]');
		var self, url;
		$.each(includeArea, function() {
			self = $(this);
			url = self.data("include");
			self.load(url, function() {
				self.removeAttr("data-include");
			});
		});
	}
</script>

</html>