<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>체험 프로그램</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="assets/css/default.css" rel="stylesheet" type="text/css"
   media="all" />
<link rel="stylesheet" href="assets/css/program.css" />

</head>

<body>

   <!-- Header -->
   <header role="pgHeader" data-include="pgheader.html" id="pgHeader">
      <a href="#Programnav" class="pgtoggle"><span>메뉴</span></a>
   </header>
   <!-- Nav -->
   <nav id="Programnav" data-include="Programnav.html"></nav>


   <!-- Banner -->
   <div id="header-wrapper">
      <div id="header" class="container">
         <div id="logo">
            <h1>
               <a href="interior_supplies.html">체험프로그램</a>
            </h1>
         </div>
      </div>
   </div>
   <div id="menu-wrapper">
      <div id="menu" class="container">
         <ul>
            <li><a href="program/traditional_craft.html"><font size="4">공예체험프로그램</font></a></li>
            <li><a href="program/traditional_culture.html"><font size="4">전통문화프로그램</font></a></li>
            <li><a href="#"><font size="4">투어프로그램</font></a></li>
            <li><a href="#"><font size="4">피트니스프로그램</font></a></li>
         </ul>
      </div>
   </div>
   <section id="banner">
      <div class="inner">
         <p>
            현대와 전통이 어우러진 품격 높은 한국공예품<br /> 우리빛깔의 전통공예 문화상품을 판매합니다<br /> 따뜻하고
            인정 깊은 대한민국의 아름다움을 전하세요
         </p>
         <a href="#one" class="button special scrolly">Welcome</a>
      </div>
   </section>

   <!-- One -->
   <section id="one" class="wrapper style2">
      <div class="inner">
         <div>
            <div class="box">

               <div class="content">
                  <a href="#"></a>
                  <header class="align-center">
                     <h2>체험 프로그램</h2>
                     <p>'가장 한국적인 것이 가장 세계적이다'</p>
                     <hr />
                     <p>사라져가는 대한민국의 전통문화를 보존하고 널리 알리기 위한 souvenior shop 입니다.</p>
                     <p>아름다운 옛 것을 되살려 우리 생활에 적용하고, 발전시켜 나가고자합니다</p>
                     <p>감사합니다</p>
                  </header>
               </div>
            </div>
         </div>
      </div>
   </section>


   <section id="three" class="wrapper style2">
      <div class="inner">
         <div id="bro" align  = "center">
         <a href="program/traditional_craft.html"><img alt="" src="images/program/yun1.png" width="500" height="400" style = "margin-right: 70px;" ></a> 
         <a href="program/traditional_culture.html"><img alt="" src="images/program/yun2.png" width="500" height="400" ></a>
         <a href="#"><img alt="" src="images/program/yun3.png" width="500" height="400" style = "margin-right: 70px; margin-top : 30px;" ></a> 
         <a href="#"><img alt="" src="images/program/yun4.png" width="500" height="400" ></a>
         
         
         
         </div>
      </div>
   </section>
   
   <!-- Two -->
   <section id="two" class="wrapper style3">
      <div class="inner">
         <div id="flexgrid">
            <div>
               <header>
                  <h3>신상품</h3>
               </header>
               <p>
                  지금바로 새로운 상품들을 <br /> 확인하세요
               </p>
               <ul class="actions">
                  <li><a href="#" class="button alt">더보기</a></li>
               </ul>
            </div>

            <div>
               <header>
                  <h3>인기상품</h3>
               </header>
               <p>
                  지난 한 주 어떤 상품이 고객님들에게 <br /> 사랑 받았는지 확인하세요
               </p>
               <ul class="actions">
                  <li><a href="#" class="button alt">더보기</a></li>
               </ul>
            </div>
            <div>
               <header>
                  <h3>이용안내</h3>
               </header>
               <p>
                  souvenior shop에 대한 <br /> 전반적인 이용방법안내입니다
               </p>
               <ul class="actions">
                  <li><a href="Information_guide.html" class="button alt">더보기</a></li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   

   <section id="three" class="wrapper style2">
      <div class="inner">
         <div id="images">
            <a href="goodsDetail.html"><img alt=""
               src="images/office/note5.PNG" width="350" height="400"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#"><img alt="" src="images/office/note6.PNG"
               width="350" height="400"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#"><img alt="" src="images/office/note9.PNG"
               width="350" height="400"></a>
         </div>
      </div>
   </section>


   <section id="one" class="wrapper style2">
      <div class="inner">
         <div>
            <div class="box">

               <div class="content">
                  <header class="align-left">
                     <a href="Support.html">고객센터</a>
                     <h2>02-1234-5678</h2>
                     <p>
                        업무시간 AM. 09:00 ~ PM. 06:00<br /> 점심시간 AM. 12:00 ~ PM. 01:00<br />
                        (토 · 일요일, 공휴일 휴무)
                     </p>
                  </header>

               </div>
            </div>
         </div>
      </div>
   </section>

   </form>
   <!-- Footer -->
   <footer id="footer" class="wrapper" data-include="footer.html"></footer>
   <!-- Scripts -->
   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/jquery.scrolly.min.js"></script>
   <script src="assets/js/jquery.scrollex.min.js"></script>
   <script src="assets/js/skel.min.js"></script>
   <script src="assets/js/util.js"></script>
   <script src="assets/js/program.js"></script>
</body>

<script>
   $(function() {
      includeLayout();
   });

   function includeLayout() {
      var includeArea = $('[data-include]');
      var self, url;
      $.each(includeArea, function() {
         self = $(this);
         url = self.data("include");
         self.load(url, function() {
            self.removeAttr("data-include");
         });
      });
   }
</script>
</html>